site_name: Edge Thoughts
site_url: https://sitename.example
# Add blog at later date. 
# plugins:
#   - blog
theme:
  name: material
  font: 
    text: Inter
    code: Fira Code
  icon:
    logo: material/thought-bubble
  features:
    - navigation.footer
    - navigation.path
    - navigation.expand
  palette:
    # Dark Mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      primary: blue grey
      accent: green
    # Light Mode
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue grey
      accent: green

markdown_extensions:
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
        custom_fences:
          - name: spl
            class: highlight
            format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details    
  
copyright: Copyright &copy; 2026 David M Reiling
       
  